<%- contentFor('main-content') %>

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" placeholder="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" placeholder="Post Body">
              <br>
              Author_ID:<br>
              <input type="text" name="author_id" placeholder="2">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.post_id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>Post ID : <%= post.post_id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.post_id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.post_id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.post_id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post: <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.post_id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.post_id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else if (title == 'Create Category') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Category Name:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="category_name" placeholder="Gossip">
              <br>
              Category Summary:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="category_summary" placeholder="description">
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Category List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>Category List</h1>
            <ol>
            <% categories.forEach(function(category) { %>
                    <li>
                        <h4><a href="/blog/category/<%= category.category_id %>"><%= category.category_name %></a></h4>
                        
                         <a class="btn btn-success" href="/blog/category/<%= category.category_id %>/update">Edit  Category</a> | <a class="btn btn-danger" href="/blog/category/<%= category.category_id %>/delete">Delete Category</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Category Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of one category</h1>
             <p>Category ID - <%= category.category_id %></p>
             <p>Category Name:<%= category.category_name %></p>
             <p>Description:<%= category.category_summary %></p>
             <a class="btn btn-success" href="/blog/category/<%= category.category_id %>/update">Edit  Category</a> | <a class="btn btn-danger" href="/blog/category/<%= category.category_id %>/delete">Delete Category</a>
        </div>
    </div>
<% }else if (title == 'Update Category') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>Update This Category</h2>
            <form action="" method="post">
              Name:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="category_name" value= <%= category.category_name %>>
              <br>
              Category Summary:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="category_summary" value= <%= category.category_summary %>>
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Create Comment') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Comment Body:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="comment_body" placeholder="comment body">
              <br>
              Poster ID:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="post_id" placeholder="1">
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Comment List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Comments</h1>
            <ol>
            <% comments.forEach(function(comment) { %>
                    <li>
                        <h4><a href="/blog/comment/<%= comment.comment_id %>"><%= comment.comment_body %></a></h4>
                        
                         <a class="btn btn-success" href="/blog/comment/<%= comment.comment_id %>/update">Edit  Comment</a> | <a class="btn btn-danger" href="/blog/comment/<%= comment.comment_id %>/delete">Delete Comment</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Comment Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of one Comment</h1>
             <p>Comment ID : <%= comment.comment_id %></p>
             <p>Comment Body:<%= comment.comment_body %></p>
             <p>Post ID:<%= comment.post_id %></p>
             <a class="btn btn-success" href="/blog/comment/<%= comment.comment_id %>/update">Edit </a> | <a class="btn btn-danger" href="/blog/comment/<%= comment.comment_id %>/delete">Delete </a>
        </div>
    </div>
<% }else if (title == 'Update Comment') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
                <h2>Update Comment</h2>
              Comment Body:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="comment_body" value= <%= comment.comment_body %>>
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Create Author') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Firstname:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="first_name" placeholder="First name">
              <br>
              Lastname:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="last_name" placeholder="Last name">
              <br>
              Username:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="username" placeholder="Username">
              <br>
              Email:<br>
              <input class="form-control" style="margin:1rem 0" type="email" name="email" placeholder="Email">
              <br>
              Password:<br>
              <input class="form-control" style="margin:1rem 0" type="password" name="password" placeholder="*aH12">
              <br>
              Phone Number:<br>
              <input class="form-control" style="margin:1rem 0" type="number" name="mobile" placeholder="07012345678">
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Author List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Authors</h1>
            <ol>
            <% authors.forEach(function(author) { %>
                    <li>
                        <h4><a href="/blog/author/<%= author.author_id %>"><%= author.username %></a></h4>
                        
                         <a class="btn btn-success" href="/blog/author/<%= author.author_id %>/update">Edit</a> | <a class="btn btn-danger" href="/blog/author/<%= author.author_id %>/delete">Delete </a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Author Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Author</h1>
             <p>Author ID - <%= author.author_id %></p>
             <p>Firstname: <%= author.first_name %></p>
             <p>Lastname: <%= author.last_name %></p>
             <p>Username: <%= author.username %></p>
             <p>Email: <%= author.email %></p>
             <p>Phone Number: <%= author.mobile %></p>
             <a class="btn btn-success" href="/blog/author/<%= author.author_id %>/update">Edit </a> | <a class="btn btn-danger" href="/blog/author/<%= author.author_id %>/delete">Delete </a>
        </div>
    </div>
<% }else if (title == 'Delete User') { %>
     
<% }else if (title == 'Update Author') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              <h2 >Update Author</h2>
              Username:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="username" value= <%= author.username %>>
              <br>
              Email:<br>
              <input class="form-control" style="margin:1rem 0" type="email" name="email" value= <%= author.email %>>
              <br>
              Phone Number:<br>
              <input class="form-control" style="margin:1rem 0" type="number" name="mobile" placeholder=<%= author.mobile %>>
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>


