<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else if (title == 'Create User') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Username:<br>
              <input type="text" name="username" placeholder="User name">
              <br>
              Email:<br>
              <input type="email" name="email" placeholder="Email">
              <br>
              password:<br>
              <input type="password" name="password" placeholder="password">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'User List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Users</h1>
            <ol>
            <% users.forEach(function(user) { %>
                    <li>
                        <h4><a href="/blog/user/<%= user.id %>"><%= user.username %></a></h4>
                        
                         <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'User Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single User</h1>
             <p>I am a user  with ID - <%= user.id %></p>
             <p>Email: <%= user.email %></p>
             <a href="/blog/user/<%= user.id %>/update">Edit  Details</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
        </div>
    </div>
<% }else if (title == 'Delete User') { %>
     
<% }else if (title == 'Update User') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              <h6>Update User</h6>
              Username:<br>
              <input type="text" name="username" value= <%= user.username %>>
              <br>
              Email:<br>
              <input type="email" name="email" value= <%= user.email %>>
              <br>
              password:<br>
              <input type="password" name="password" value= <%= user.password %>>
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Create Category') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Name:<br>
              <input type="text" name="name" placeholder="name">
              <br>
              Dsecription:<br>
              <input type="text" name="description" placeholder="description">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Category List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>Category List</h1>
            <ol>
            <% categories.forEach(function(category) { %>
                    <li>
                        <h4><a href="/blog/category/<%= category.id %>"><%= category.name %></a></h4>
                        
                         <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Category Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of one category</h1>
             <p>Category ID - <%= category.id %></p>
             <p>Category Name:<%= category.name %></p>
             <p>Description:<%= category.description %></p>
             <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
        </div>
    </div>
<% }else if (title == 'Update Category') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <h6>Update This Category</h6>
            <form action="" method="post">
              Name:<br>
              <input type="text" name="name" value= <%= category.name %>>
              <br>
              Dsecription:<br>
              <input type="text" name="description" value= <%= category.description %>>
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Create Comment') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Comment Title:<br>
              <input type="text" name="comment_title" placeholder="comment title">
              <br>
              Comment Body:<br>
              <input type="text" name="comment_body" placeholder="comment body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Comment List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Comments</h1>
            <ol>
            <% comments.forEach(function(comment) { %>
                    <li>
                        <h4><a href="/blog/comment/<%= comment.id %>"><%= comment.comment_body %></a></h4>
                        
                         <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Comment Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of one Comment</h1>
             <p>Comment ID - <%= comment.id %></p>
             <p>Comment Title:<%= comment.comment_title %></p>
             <p>Comment Body:<%= comment.comment_body %></p>
             <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
        </div>
    </div>
<% }else if (title == 'Update Comment') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
                <h6>Update Comment</h6>
              Comment Title:<br>
              <input type="text" name="comment_title" value= <%= comment.comment_title %>>
              <br>
              Comment Body:<br>
              <input type="text" name="comment_body" value= <%= comment.comment_body %>>
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Create Author') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Firstname:<br>
              <input type="text" name="first_name" placeholder="First name">
              <br>
              Lastname:<br>
              <input type="text" name="last_name" placeholder="Last name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Role:<br>
              <input type="text" name="role" placeholder="Role">
              <br>
              Email:<br>
              <input type="email" name="email" placeholder="Email">
              <br><br>
              <input type="submit" value="Submit">
            </form>
            <!--form action="" method="post">
              <div class="form-group">
                <label for="First Name">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="Enter first name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="Last name">Last Name</label>
                <input type="text" name="last_name" class="form-control"  placeholder="Enter last name">
              </div>
               <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control"  placeholder="Enter username">
               </div>
               <div class="form-group">
                <label for="role">Role</label>
                <input type="text" name="role" class="form-control"  placeholder="Enter you role">
               </div>
               <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control"  placeholder="Enter email">
               </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form-->
        </div>
    </div>
<% }else if (title == 'Author List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Authors</h1>
            <ol>
            <% authors.forEach(function(author) { %>
                    <li>
                        <h4><a href="/blog/author/<%= author.id %>"><%= author.username %></a></h4>
                        
                         <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Author Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Author</h1>
             <p>Author ID - <%= author.id %></p>
             <p>Firstname: <%= author.first_name %></p>
             <p>Lastname: <%= author.last_name %></p>
             <p>Username: <%= author.username %></p>
             <p>Role: <%= author.role %></p>
             <p>Email: <%= author.email %></p>
             <a href="/blog/author/<%= author.id %>/update">Edit Author Details</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
        </div>
    </div>
<% }else if (title == 'Delete User') { %>
     
<% }else if (title == 'Update Author') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              <h6>Update Author</h6>
              Username:<br>
              <input type="text" name="username" value= <%= author.username %>>
              <br>
              Email:<br>
              <input type="email" name="email" value= <%= author.email %>>
              <br>
              Role:<br>
              <input type="text" name="role" value= <%= author.role %>>
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
<!--POST VIEW END HERE-->

<!--USER VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create User') { %>
 
<% } else if (title == 'Delete Author') { %>
     
<% } else if (title == 'Update Author') { %>
   
<% } else if (title == 'Author Details') { %>
 
<% } else if (title == 'Author List') { %>
  
<% } else { %>
  
<% } %>
<!--AUTHOR VIEW END HERE-->

<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') { %>
 
<% } else if (title == 'Delete Author') { %>
     
<% } else if (title == 'Update Author') { %>
   
<% } else if (title == 'Author Details') { %>
 
<% } else if (title == 'Author List') { %>
  
<% } else { %>
  
<% } %>
<!--AUTHOR VIEW END HERE-->

<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for category view-->

<!--COMMENT VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


