<%- contentFor('main-content') %>

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else if (title == 'Create Employee') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Firstname:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="first_name" placeholder="First name">
              <br>
              Lastname:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="last_name" placeholder="Last name">
              <br>
              Username:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="username" placeholder="Username">
              <br>
              Role:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="role" placeholder="Role">
              <br>
              Email:<br>
              <input class="form-control" style="margin:1rem 0" type="email" name="email" placeholder="Email">
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else if (title == 'Employee List') { %>
     <div class="col-sm-8">    
        <div class="">
            <h1>List Of Employees</h1>
            <ol>
            <% employees.forEach(function(employee) { %>
                    <li>
                        <h4><a href="/blog/employee/<%= employee.id %>"><%= employee.username %></a></h4>
                        
                         <a class="btn btn-success" href="/blog/employee/<%= employee.id %>/update">Edit</a> | <a class="btn btn-danger" href="/blog/employee/<%= employee.id %>/delete">Delete </a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% }else if (title == 'Employee Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single employee</h1>
             <p>employee ID - <%= employee.id %></p>
             <p>Firstname: <%= employee.first_name %></p>
             <p>Lastname: <%= employee.last_name %></p>
             <p>Username: <%= employee.username %></p>
             <p>Role: <%= employee.role %></p>
             <p>Email: <%= employee.email %></p>
             <a class="btn btn-success" href="/blog/employee/<%= employee.id %>/update">Edit </a> | <a class="btn btn-danger" href="/blog/employee/<%= employee.id %>/delete">Delete </a>
        </div>
    </div>
<% }else if (title == 'Delete User') { %>
     
<% }else if (title == 'Update Employee') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              <h2 >Update employee</h2>
              Username:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="username" value= <%= employee.username %>>
              <br>
              Email:<br>
              <input class="form-control" style="margin:1rem 0" type="email" name="email" value= <%= employee.email %>>
              <br>
              Role:<br>
              <input class="form-control" style="margin:1rem 0" type="text" name="role" value= <%= employee.role %>>
              <br><br>
              <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% }else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
